<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/admin-layout :: head('Gérer les utilisateurs')}"></head>
<body th:replace="~{admin/admin-layout :: body(~{::content})}">
<div th:fragment="content">
    <div class="text-end my-2">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-user-modal">+ Ajouter</button>
    </div>
    <div class="card" th:if="${users.size() > 1}">
        <div class="card-body">
            <div th:each="user : ${users}" class="my-4" th:object="${user}" th:id="|user-section-*{id}|" th:unless="${currentUser.id} == ${user.id} or !${user.canBeDeleted}">
                <div class="alert alert-danger" style="display: none"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input type="text" class="form-control" th:value="*{username}" disabled>
                        </div>
                    </div>
                    <div class="col-md-2" style="align-content: end">
                        <button class="btn btn-danger" th:onclick="|disable(*{id})|">Désactiver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-6 text-center" th:unless="${users.size() > 1}">
        Il n'y actuellement aucun utilisateur désactivable.
        Pour en ajouter un, <a href="#" data-bs-toggle="modal" data-bs-target="#add-user-modal">cliquez ici</a>.
    </div>

    <div id="add-user-modal" class="modal modal-lg fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Ajouter un utilisateur</h2>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="add-user-alert" class="alert alert-danger" style="display: none"></div>
                    <div class="form-group my-2">
                        <label for="add-user-username">Nom d'utilisateur</label>
                        <input type="text" id="add-user-username" class="form-control">
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="add-user-password">Mot de passe par défaut</label>
                                <input type="password" id="add-user-password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6" style="align-content: center">
                            <div class="form-check">
                                <label for="add-user-toggle-password" class="form-check-label">Afficher/cacher</label>
                                <input type="checkbox" id="add-user-toggle-password" class="form-check-input" onclick="togglePassword(this, $('#add-user-password'))">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-user-submit" class="btn btn-primary" onclick="addUser()">+ Ajouter</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/admin/users.js}"></script>
</div>
</body>
</html>
